<div class='jumbtotron mx-auto'>
  <h1 class='display-4'>Profile<h1>
</div>
<hr>
<div class='card card-shadow p-3'>
  <h6>First Name: <%= @user.first_name %></h6>
  <h6>Second Name: <%= @user.last_name %></h6>
  <h6>Username: <%= @user.username %></h6>
  <h6>Email: <%= @user.email %></h6>
</div>