<h1>Projects Page!</h1>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project_path(project) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no projects yet.</p>
<% end %>

<% if is_admin? %>
  <p><%= link_to "Create new project", new_project_path %></p>
<% end %>