<div class="container">
  <!-- Header -->
  <div class="align-items-center justify-content-center">
    <div class="jumbotron bg-dark text-center text-white">
      <h1 class="display-2">Posts</h1>
      <% if is_admin? %>
        <p><%= link_to "Create new post", new_post_path %></p>
      <% end %>
    </div>
  <!-- Post Cards Grid -->
  <% if @posts.any? %>
    <div class="row row-cols-1 row-cols-md-2">
      <% @posts.each do |post| %>
        <div class="col mb-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
              <p class="card-text"><%= post.body %></p>
              </div>
            </div>
          </div>
        <% end %> 
      </div>
      <% else %>
      <div class="card">
        <p>There are no projects yet.</p>
      </div>
    <% end %>
  </div>
</div>